@font-face{
	font-family:elecday3di;
	src: url(fonts/elecday3di.ttf);
}
@font-face{
	font-family:calisto;
	src: url(fonts/calist.ttf);
}
body{
	background-image:url(img/back_mobile.jpg);
	background-size:cover;
	background-attachment: fixed;
	font-size:18pt;
	font-family:calisto;
}
header{
	background-color:rgba(0, 0, 0, 0.99);
	border-bottom:1px solid #fff;
}
footer{
	background-color:rgba(0, 0, 0, 0.99);
	border-top:1px solid #fff
}
#number_{
  width: 4em;
}
.logo{
	width:100px;
	height:100px;
}
.logotext{
	font-size:21pt;
	text-shadow:0px 1px 3px #fff;
	font-family:elecday3di;
}
.review{
	border:1px solid #fff;
}
.friends{
	background-color:rgba(255, 255, 255, 0.3);
}
h1{
	text-shadow:0 1px 3px #fff;
}
.copyright{
	font-size:20pt;
	text-shadow:0 0 4px #ffe;
}
.content{
	background-color:rgba(0, 0, 0, 0.7);
}
@media screen and (min-width: 768px) and (orientation: landscape) {
	body{
		background-image:url(img/back.jpg);
		font-size:14pt
	}
	.logotext{
		font-size:70pt;
	}
}